@import url('https://fonts.googleapis.com/css?family=Muli');

/*
  Global styles, resets, ect
*/

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
  line-height: 1.4em;
  box-sizing: border-box;
  background-color: #f5f5f5;
  color: #555;
  overflow-x: hidden;
}

.page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  background-color: #dcdcdc;
  padding: 50px;
  text-align: left;
  font-size: 1.3em;
}

/*
  Navigation styles
*/

nav {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100px;
  padding-left: 30px;
  padding-right: 30px;
}

.logo {
  width: 20%;
}

.menu-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
}

.menu-list li {
  list-style: none;
}

.menu-link {
  text-decoration: none;
  color: #555;
}

.menu-link:hover {
  color: #000;
  border-bottom: 2px solid #71C2FF;
  transition: all 0.1s ease-in-out;
}

@media screen and (max-width: 500px) {
  .menu-list {
    flex-direction: column;
  }
}

/*
  Hero Section
*/

.background-image, .overlay {
  height: 70vh;
  width: 100vw;
}

.background-image {
  background: url('assets/mac-desk.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.overlay {
  background-color: #414a4c;
  opacity: 0.7;
}

.page-title {
  color: #f5f5f5;
  display: flex;
  align-items: center;
  top: 50%;
  transform: translateY(50%);
  flex-direction: column;
}

.page-title h1 {
  font-size: 2em;
}

.page-title p {
  font-size: 1.2em;
  max-width: 400px;
}

@media screen and (max-width: 500px) {
  .page-title h1 {
    font-size: 1.5em;
  }
}

/*
  About Us Section
*/

.about-body-image {
  background: url('assets/team.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
}

.about-body-info {
  padding: 2em 4em;
}

/*
  Services Section
*/

.services-container {
  width: 100vw;
}

.services-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card {
  margin: 30px;
  background: #fff;
  padding: 20px;
  max-width: 600px;
  -webkit-box-shadow: 10px 26px 28px -16px rgba(0,0,0,0.41);
  -moz-box-shadow: 10px 26px 28px -16px rgba(0,0,0,0.41);
  box-shadow: 10px 26px 28px -16px rgba(0,0,0,0.41);
}

.card-header {
  background: #262626;
  color: #f5f5f5;
  padding: 10px 10px 30px 10px;
  margin: -20px -20px 15px -20px;
  height: 100%;
}

/*
  Contact form styling
*/

.contact-container {
  width: 100vw;
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 65vw;
  max-width: 600px;
  padding: 50px;
  margin: 20px;
  border-radius: 20px;
/*   border: 2px solid #262626;
   */
/*    height: 65vh;
 */}

input[type="text"], input[type="email"],
input[type="url"], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  margin: 20px 0;
  text-align: left;
  padding: 5px 20px;
  width: 60vw;
  background: transparent;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #dcdcdc;
}

input[type="text"]::placeholder, input[type="email"]::placeholder,
input[type="url"]::placeholder, textarea::placeholder {
  color: #262626;
  font-size: 1.8em;
}

input[type="text"], input[type="email"],
input[type="url"] {
  height: 40px;
}

input[type="text"]:focus, input[type="email"]:focus,
input[type="url"]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

input[type="submit"] {
  padding: 10px;
  width: auto;
  border-radius: 5px;
  background-color: #71C2FF;
  color: #f5f5f5;
  font-size: 1.5em;
}
